{{#extend "index"}}
  {{#content "body"}}
    <div class="container">
<h3>You have logged out successfully from NBS POD Portal App.</h3>
<p><a href="/views/login.html">Come back any time!</a></p>
</div>
{{/content}}
{{/extend}}


